* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    background: #aea3ab;
    display: flex;
}

.sorting-block {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4a3f57;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 65vw;
    margin-left: 10vh;
    background: #f7f4f1;
}

.columns-container {
    padding: 0 5px;
    display: flex;
    align-items: flex-end;
    gap: 3px;
    height: 70%;
    margin: auto 5px;
    border-bottom: 3px solid #777D82;
}

.column {
    display: flex;
    font-size: 14px;
    font-weight: 550;
    align-items: flex-end;
    justify-content: center;
    color: black;
    background: #584b67;
    height: 60%;
    width: 10px;
    flex-grow: 1;
    transition: 1s height,
                200ms background-color;
}

.column:hover {
    opacity: 0.8;
}

.column-current {
    background: #aaa323;
}

.column-sorted {
    background: #28aa23;
}

.column-special {
    background: rgb(206, 59, 10);
}

.column-orange {
    background-color: rgb(255, 124, 1);
}

.column-blue {
    background-color: rgb(52, 52, 247);
}

.control-buttons {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    margin: 0 0 10px;
    background: #584b67;
}

.control-buttons div {
    flex-grow: 1;
    align-self: center;
    color: #f7f4f1;
}

.control-buttons .button {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: #f7f4f1;
    font-size: 20px;
    padding: 0 15px;
    transition: 500ms background-color;
}

@keyframes onclick {
    to {
        background-color: rgb(47, 168, 255);
    }
}

.control-buttons .button:hover {
    background-color: #86749a;
}

.control-buttons .onclick {
    animation: onclick 200ms ease-in;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.control-buttons .button:not(:last-of-type) {
    border-right: 2px solid gray;
}

.control-buttons .current-speed {
    background-color: rgb(44, 143, 213);
}

.control-buttons .current-speed:hover {
    background-color: rgb(115, 192, 248);
}

.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 5vw;
    height: 100vh;
    width: 20vw;
    background-color: #4a3f57;
}

.side-menu .button {
    font-size: 26px;
    color: white;
    width: 100%;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(117, 115, 122);
    transition: 1s background-color;
}

.side-menu .button:hover {
    box-shadow: inset 0 0 7px rgb(115, 192, 248);
    color: rgb(115, 192, 248);
}

.side-menu .selected {
    background-color: rgb(163, 56, 56);
}

.side-menu .selected:hover {
     box-shadow: none;
}